# create .env.dev (as in docker-compose.yml) with below values populated correctly
API_VERSION = <ex. 3.0>
DEBUG: <"true"/"false">
DB_HOST: <localhost>
DB_USER: <postgres>
DB_PASSWORD: <passwd>
DB_DB: <db1>
DB_PORT: <5427>
JWT_SECRET: <secret@1231>